@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #121212;
  color: #d1d1d1;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.title-main {
  font-weight: 700;
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 120px;
}

footer {
  background-color: #c6a0ff;
  color: #d1d1d1;
  text-align: center;
  padding: 20px;
  bottom: 10px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.hero img {
  height: 600px;
}

.hero h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-page {
  width: 231px;
  height: 68px;
  margin-top: 153px;
  margin-left: 150px;
  margin-bottom: 24px;
  color: #c6a0ff;
  text-align: left;
}

.project-card {
  border-radius: 20px;
  background-color: #1e1e1e;
  width: 538px;
  text-align: left;
  margin-left: 150px;
  margin-top: 24px;
  color: #ffffff;
}

.project-card__image {
  width: 100%;
  border-radius: 20px;
}

.project-card__content {
  padding: 16px;
}

.btn-project {
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  color: #c6a0ff;
  border: 1px solid #c6a0ff;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 16px;
}

.btn-project:hover {
  background-color: #c6a0ff;
  color: #d1d1d1;
}

.navbar {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 2rem;
  left: 20px;
  right: px;
  width: calc(100% - 2rem);
  border: 2px solid #c6a0ff;
  z-index: 10;
  border-radius: 20px;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c6a0ff;
}

.nav-links a.active {
  color: #c6a0ff;
}
