@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #121212;
  color: #d1d1d1;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

footer {
  background-color: #c6a0ff;
  color: #d1d1d1;
  text-align: center;
  padding: 20px;
  bottom: 10px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.hero img {
  height: 600px;
}

.hero h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-page {
  width: 231px;
  height: 68px;
  margin-top: 153px;
  margin-left: 150px;
  margin-bottom: 24px;
  color: #c6a0ff;
  text-align: left;
}

.project-card {
  border-radius: 20px;
  background-color: #1e1e1e;
  width: 538px;
  text-align: left;
  margin-left: 150px;
  margin-top: 24px;
  color: #ffffff;
}

.project-card__image {
  width: 100%;
  border-radius: 20px;
}

.project-card__content {
  padding: 16px;
}

.btn-project {
  border-radius: 4px;
  font-size: 16px;
  color: #c6a0ff;
  border: 1px solid #c6a0ff;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
}
